@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap:100,200,300,400,500,600,700|Roboto:100,200,300,400,500,600,700');

header {
    margin:0;
}

.body-div {
    margin-top: 142px;
}

/*------ Headings ------- */

/*-----.follow-us-heading {
    color: #4caf50;
    text-align: center;
    font-size: 30px;

}-----*/
.heading {
    color: #4caf50;
    padding-top: 20px;
}

.why-us-heading {
    color: #4caf50;
    text-align: center;
    padding-top: 20px;
}

.enquire-heading {
    color: #4caf50;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

.main-section-heading {
    text-align: center;
    color: #4caf50;
}


/*------ Nav Bar ------*/

.fa-1x {
    font-size: 1.5rem;
}
.navbar-toggler.toggler-example {
    cursor: pointer;
}
.dark-blue-text {
    color: #0A38F5;
}
.dark-pink-text {
    color: #AC003A;
}
.dark-amber-text {
    color: #ff6f00;
}
.dark-teal-text {
    color: #004d40;
}

.logo {
    position: absolute;
    top:0;
    right:0;
    margin: 5px 5px 5px 5px;
    background: url("../images/clean-southwicks-logo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #f8f9fa;
    min-height: 100px;
    height: 132px;
    width: 166px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;

}

.nav-link {
    font-weight: 700;
    letter-spacing: 1px;
    margin-left: 15px;
    margin-right: 15px;

}

.navbar {
    min-height: 100px;
    height: 142px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

/*----- Banner image ------- */

.img-fluid {
    width: 100%;
    height: 600px;
    background-repeat: no-repeat;
    margin-top: 142px;
    /* margin-left: 15%;
    margin-right: 15%; */
}
/*------ Sections ------ */

.enquire-section  {
    width: 100%;
    height: 30%;
    background-color: rgba(0, 0, 0, 0.1);
}

.block-divider {
    width: 70%;
    height: 1px;
    background-color: #4caf50;
}

.button-holder {
    text-align: center;
}

.review-section {

}

/*--------- Why-us-section ----- */

.why-us-text {
    margin-left: 25px;
    margin-right: 25px;
    text-align: center;
}
.why-us-images {
       display: block;
       text-align: center;
       cursor: pointer;
}

.which-best {

    height: 100px;
    margin: 25px 25px 25px 25px;
    transition-timing-function: ease-in-out;
    transition-duration: 0.4s;

}

.trading-standards {

    height: 100px;
    margin: 25px 25px 25px 25px;
    transition-timing-function: ease-in-out;
    transition-duration: 0.4s;

}

.guarantee {

    height: 100px;
    margin: 25px 25px 25px 25px;
    transition-timing-function: ease-in-out;
    transition-duration: 0.4s;

}

.which-best:hover,
.trading-standards:hover,
.guarantee:hover {
    transform: scale(1.1);
}

CSS
.hvrbox,
.hvrbox * {
    box-sizing: border-box;
}
.hvrbox {
    position: relative;
    display: inline-block;
    overflow: hidden;
    max-width: 100%;
    height: auto;
}
.hvrbox img {
    max-width: 100%;
}
.hvrbox .hvrbox-layer_bottom {
    display: block;
}
.hvrbox .hvrbox-layer_top {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    padding: 15px;
    -moz-transition: all 0.4s ease-in-out 0s;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -ms-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}
.hvrbox:hover .hvrbox-layer_top,
.hvrbox.active .hvrbox-layer_top {
    opacity: 1;
}
.hvrbox .hvrbox-text {
    text-align: center;
    font-size: 18px;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.hvrbox .hvrbox-text_mobile {
    font-size: 15px;
    border-top: 1px solid rgb(179, 179, 179); /* for old browsers */
    border-top: 1px solid rgba(179, 179, 179, 0.7);
    margin-top: 5px;
    padding-top: 2px;
    display: none;
}
.hvrbox.active .hvrbox-text_mobile {
    display: block;
}

/*---- Hover box styling taken from CSS - Workshop ----*/

.hvrbox,
.hvrbox * {
    box-sizing: border-box;
}
.hvrbox {
    position: relative;
    display: inline-block;
    overflow: hidden;
    max-width: 100%;
    height: auto;
}
.hvrbox img {
    max-width: 100%;
}
.hvrbox .hvrbox-layer_bottom {
    display: block;
}
.hvrbox .hvrbox-layer_top {
    border-radius: 35%;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    padding: 15px;
    -moz-transition: all 0.4s ease-in-out 0s;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -ms-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}
.hvrbox:hover .hvrbox-layer_top,
.hvrbox.active .hvrbox-layer_top {
    opacity: 1;
}
.hvrbox .hvrbox-text {
    text-align: center;
    font-size: 18px;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.hvrbox .hvrbox-text_mobile {
    font-size: 15px;
    border-top: 1px solid rgb(179, 179, 179); /* for old browsers */
    border-top: 1px solid rgba(179, 179, 179, 0.7);
    margin-top: 5px;
    padding-top: 2px;
    display: none;
}
.hvrbox.active .hvrbox-text_mobile {
    display: block;
}




/*------- Form--------*/
.enquire-form {
    margin: 25px 25px 25px 25px;
}
.formsection {
    margin-bottom: 10px;
    margin-top: 10px;
}

.form-control {
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px solid #4caf50;
}

.message-text {
    color: rgba(0, 0, 0, 0.52);
}

/*------- review carousel -----*/

.carousel-slide {
    text-align: center;
    margin-top: 20px;
    margin-left: 20px;
}

.carousel-item {
    float: none;
    margin: none;
}

/*------ Footer ------*/

footer {
    background-color: #262424;
    min-height: 150px;
}

.social {
    text-align: center;
    margin-top: 30px;
}
.social-links {
    color: #007bff;
    position: relative;
    display: inline-block;
    font-size: 50px;
    text-align: center;
}

.copyright {
    color: #fff;
    font-size: small;
    text-align: center;
}

