@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap:100,200,300,400,500,600,700|Roboto:100,200,300,400,500,600,700');

header {
    margin:0;
}

.body-div {
    margin-top: 142px;
}

/*------ Headings ------- */

/*-----.follow-us-heading {
    color: #4caf50;
    text-align: center;
    font-size: 30px;

}-----*/
.heading {
    color: #4caf50;
    padding-top: 20px;
}

.why-us-heading {
    color: #4caf50;
    text-align: center;
    padding-top: 20px;
}

.enquire-heading {
    color: #4caf50;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

.main-section-heading {
    text-align: center;
    color: #4caf50;
}


/*------ Nav Bar ------*/

.fa-1x {
    font-size: 1.5rem;
}
.navbar-toggler.toggler-example {
    cursor: pointer;
}
.dark-blue-text {
    color: #0A38F5;
}
.dark-pink-text {
    color: #AC003A;
}
.dark-amber-text {
    color: #ff6f00;
}
.dark-teal-text {
    color: #004d40;
}

.logo {
    position: absolute;
    top:0;
    right:0;
    margin: 5px 5px 5px 5px;
    background: url("../images/clean-southwicks-logo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #f8f9fa;
    min-height: 100px;
    height: 132px;
    width: 166px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    display: none;

}

.nav-link {
    font-weight: 700;
    letter-spacing: 1px;
    margin-left: 15px;
    margin-right: 15px;

}

.navbar {
    min-height: 100px;
    height: 100px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;

}

.request-btn {
    margin-left: 15px;
}

/*----------- Dropdown -----------*/ /*------ got my dropdown code from W3 Schools ------- */

.dropbtn {
    background: inherit;
    font-size: inherit;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;

}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f8f9fa;
    min-width: 160px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
    border-radius: .25rem;
}

/*----- Banner image ------- */

.img-fluid {
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
    margin-top: 100px;
    /* margin-left: 15%;
    margin-right: 15%; */
}
/*------ Sections ------ */

.enquire-section  {
    width: 100%;
    height: 400px;
    background-color: rgba(0, 0, 0, 0.1);
}

.block-divider {
    width: 70%;
    height: 1px;
    background-color: #4caf50;
}

.button-holder {
    text-align: center;
}

.review-section {

}

/*--------- Why-us-section ----- */

.why-us-text {
    padding: 25px 50px 50px 50px;

}
.why-us-images {
       display: block;
       text-align: center;
       cursor: pointer;
       width: 100%;
       height: 100%;
}

.which-best {

    height: 100px;
    margin: 25px 25px 25px 25px;
    transition-timing-function: ease-in-out;
    transition-duration: 0.4s;

}

.trading-standards {

    height: 100px;
    margin: 25px 25px 25px 25px;
    transition-timing-function: ease-in-out;
    transition-duration: 0.4s;

}

.guarantee {

    height: 100px;
    margin: 25px 25px 25px 25px;
    transition-timing-function: ease-in-out;
    transition-duration: 0.4s;

}

.which-best:hover,
.trading-standards:hover,
.guarantee:hover {
    transform: scale(1.1);
}

/*------- Form--------*/
.enquire-form {
    padding: 25px 25px 25px 25px;
}
.formsection {
    margin-bottom: 10px;
    margin-top: 10px;
}

.form-control {
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px solid #4caf50;
}

.message-text {
    color: rgba(0, 0, 0, 0.52);
}

.form-row {
    margin-right: 0;
    margin-left: 0;
}

.form-group {
    padding-right: 12px;
    padding-left: 5px;
}

.btn-holder {
       padding-bottom: 5px;
 }

/*------- review carousel -----*/

.carousel-slide {
    text-align: center;
    padding: 25px 25px 25px 25px;
    margin-top: 25px;
    overflow: none;

}

.carousel-item {
    float: 0;
    margin: 0;
}

.carousel-image {
    height: 100px;
    width: 200px;
    border-radius: .25rem;
}

/*------ Footer ------*/

#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: 10rem;
}

#footer {
    background-color: #262424;
    bottom: 0;
    position: absolute;
    width: 100%;
    height: 10rem;
}

.social {
    text-align: center;
    margin-top: 30px;
}
.list-inline {
    color: #007bff;
    position: relative;
    display: inline-block;
    font-size: 50px;
    text-align: center;
}

.copyright {
    color: #fff;
    font-size: small;
    text-align: center;
}

.footer-image {
    float: right;
}

