@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap:100,200,300,400,500,600,700|Roboto:100,200,300,400,500,600,700');

header {
    margin: 0;
}

.body-div {
    margin-top: 142px;
}

.nav-margin-div {
    margin-top: 100px;
}

html,
body {
    scroll-behavior: smooth;
    height: 100%;
    position: relative;
}

.error-image {
    width: 500px;
    height: 400px;
}

/*----- Block - Dividers ----*/

.block-divider {
    width: 70%;
    height: 1px;
    background-color: #4caf50;
}

.block-divider-test {
    width: 20%;
}

.block-divider-two {
    width: 70%;
    height: 1px;
    background-color: #4caf50;
}

/*------ Headings ------- */

.heading {
    color: #4caf50;
    padding-top: 20px;
}

.why-us-heading {
    color: #4caf50;
    text-align: center;
    padding-top: 20px;
}

.enquire-heading {
    color: #4caf50;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    padding-bottom: 15px;
}

.meet-the-team-headings {
    color: #4caf50;
    font-weight: 400;
    border: #716666 solid 3px;
    text-align: center;
    letter-spacing: 5px;
    padding: 5px 5px 5px 5px;
    border-radius: 8px;
    -webkit-box-shadow: -2px 3px 13px -4px rgba(102, 99, 102, 1);
    -moz-box-shadow: -2px 3px 13px -4px rgba(102, 99, 102, 1);
    box-shadow: -2px 3px 13px -4px rgba(102, 99, 102, 1);

}

.who-are-we-heading {
    color: #4caf50;
    font-weight: 400;
    border: #716666 solid 3px;
    text-align: center;
    letter-spacing: 5px;
    padding: 5px 5px 5px 5px;
    border-radius: 8px;
    -webkit-box-shadow: -2px 3px 13px -4px rgba(102, 99, 102, 1);
    -moz-box-shadow: -2px 3px 13px -4px rgba(102, 99, 102, 1);
    box-shadow: -2px 3px 13px -4px rgba(102, 99, 102, 1);
    display: inline-block;
}


.main-section-heading {
    text-align: center;
    color: #4caf50;
    font-weight: 500;
    padding-top: 50px;
    letter-spacing: 1px;
    line-height: 1.4;
    padding-left: 10px;
    padding-right: 10px;
}

.homepage-main-heading {
    text-align: center;
    color: #4caf50;
    font-weight: 400;
    padding-top: 30px;
    letter-spacing: 1px;
    line-height: 1.4;
    font-size: 30px;
}


.homepage-tagline-heading {
    text-align: center;
    color: #4caf50;
    font-weight: 400;
    padding-top: 0;
    letter-spacing: 1px;
    line-height: 1.4;
    font-size: 20px;
}

.build-specs-heading {
    text-align: center;
    color: #4caf50;
    font-weight: 500;
    padding-top: 10px;
    letter-spacing: 1px;
    line-height: 1.4;
    align-content: center;
}

/*------ Nav Bar ------*/

.navbar-collapse {
    height: auto;
}

.fa-1x {
    font-size: 1.5rem;
}

.navbar-toggler.toggler-example {
    cursor: pointer;
}

.dropdown-item:active {
    background-color: #4caf50;
}

.nav-link {
    cursor: pointer;
}

.logo {
    position: absolute;
    top: 0;
    right: 0;
    margin: 5px 5px 5px 5px;
    background: url("../images/front-page-images/logo-edit.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #f8f9fa;
    width: 125px;
    height: 95px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.nav-link {
    font-weight: 700;
    letter-spacing: 1px;
    margin-left: 20px;

}

.navbar {
    min-height: 100px;
    height: 100px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;

}


.request-btn {
    margin-left: 20px;
}

.nav-item .active {
    background-color: #4caf50;
}

.navbar-light .navbar-toggler {
    outline: none;
}

/*----------- Dropdown -----------*/ /*------ got my dropdown code from W3 Schools ------- */

.dropbtn {
    background: inherit;
    font-size: inherit;
    border: none;
}

.dropdown-menu {
    background-color: rgba(248, 249, 250, 1)
}

.navbar-dropdown-heading a {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
    color: rgba(0, 0, 0, .9);
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f8f9fa;
    min-width: 160px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
    border-radius: .25rem;
}

.navbar-collapse {
    border-radius: 5px;
    padding-bottom: 5px;
    background-color: rgba(248, 249, 250, 1)
}

/*----- Banner image ------- */


.scrollDesign {
  height: 300px;
  width: 100%;
  text-align: center;
  background-image: url("../images/front-page-images/front-page-photo.jpg");
  background-attachment: fixed;
  background-position: center 100px;
  background-repeat: no-repeat;
  background-size: 100% auto;
  padding: 0;
  margin: 0;
  
}

@media (min-width: 768px) {
    .scrollDesign {
        height: 500px;
    }
}

@media (min-width: 1024px) {
    .scrollDesign {
        height: 650px;
    }
}

@media (min-width: 1440px) {
    .scrollDesign {
        height: 800px;
    }
}

@media (min-width: 2560px) {
    .scrollDesign {
        height: 1400px;
    }
}

/*------ Images-------*/

.meet-the-team-img {
    height: auto;
    width: 100%;
    background-repeat: no-repeat;
    text-align: center;
    border-radius: 5px;
    margin-top: 10px;
}

.meet-the-team-img-bottom {
    height: auto;
    width: 100%;
    background-repeat: no-repeat;
    border-radius: 5px;
    margin-bottom: 30px;
}

.meet-the-team-img-main {
    height: auto;
    width: 100%;
    background-repeat: no-repeat;
    border-radius: 5px;
    margin-top: 20px;
}

/*---- Buttons ---*/

.gotopbtn {
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 40px;
    right: 50px;
    background-color: #4caf50;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    color: white;
    border-radius: 50%;
}

.gotopbtn-testimonial {
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 40px;
    right: 50px;
    background-color: #4caf50;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    color: white;
    border-radius: 50%;
}


.gotopbtn:hover,
.gotopbtn-testimonial:hover {
    color: white;
}

.error-btn {
    margin-top: 50px;
}

/*------ Sections ------ */

.build-specs-section {
    text-align: center;
}

.contact-us-section {
    padding: 0;
}

.main-section {
    margin-bottom: 0;
    padding-bottom: 0;
    width: 100%; 
}

.enquire-section {
    width: 100%;
    height: auto;
    background-color: rgba(0, 0, 0, 0.1);
    padding-top: 30px;
    padding-bottom: 20px;
    margin-top: 25px;
}

.contact-section {
    width: 100%;
    height: 65vh;
    background-color: rgba(0, 0, 0, 0.1);
    padding-top: 30px;
    padding-bottom: 20px;
}

.guarantee-section {
    padding-top: 20px;
}

.enquire-form {
    padding-left: 50px;
    padding-right: 50px;
    line-height: 50px;
}

.button-holder {
    text-align: center;
}

.d-flex form{
  flex-grow: 1
}

/*-------- Interior Gallery Page----------*/

/*----- got gallery grid from www.w3schools.com/howto/howto_css_image_grid_responsive.asp ------ */

.interior-gallery-section {
    display: flex;
    flex-wrap: wrap;
    padding: 4px;
    padding-bottom: 10px;
}


.interior-gallery img {
    margin-top: 8px;
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.interior-gallery {
    position: relative;
}

/*-- OuterShells-Gallery --*/

.outshells-gallery {
    position: relative;
}

.outshells-gallery img {
    margin-top: 8px;
    width: 100%;
    height: auto;
    border-radius: 5px;
    bottom: 0;
    left: 0;
    padding: 10px;
}

 #edit {
    padding-top: 50px;
}

/*------ Exterior Gallery Page ------ */

.exterior-gallery-section {
    display: flex;
    flex-wrap: wrap;
    padding: 4px;
    padding-bottom: 10px;
}


.exterior-gallery img {
    margin-top: 8px;
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.photo-numbers {
    float: right;
    font-size: 1rem;
    color: #4caf50;
    font-weight: 700;
    margin-bottom:0;
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
}

.full-gallery-link {
    padding-top: 30px;
    padding-bottom: 20px;
}


/*--------- Why-us-section-homepage ----- */

.why-us-text {
    padding-top: 25px;
    margin-bottom: 0;
}

.why-us-images {
    display: block;
    text-align: center;
    cursor: pointer;
    width: 100%;
    height: 100%;
    padding: 20px;
}

.which-best:hover,
.trading-standards:hover {
    opacity: 0.5;
    }


.which-best {

    height: 100px;
    margin: 25px 25px 25px 25px;
    transition-timing-function: ease-in-out;
    transition-duration: 0.4s;
}

.trading-standards {

    height: 145px;
    transition-timing-function: ease-in-out;
    transition-duration: 0.4s;
}

.guarantee {
    height: 100px;
    margin: 25px 25px 25px 25px;
    transition-timing-function: ease-in-out;
    transition-duration: 0.4s;
}

.which-best:hover,
.trading-standards:hover,
.guarantee:hover {
    transform: scale(1.1);
}

/*------- Meet-the-team-page------*/

.meet-the-team-main {
    margin-top: 30px;
    margin-bottom: 10px;
}

/*------ Testimonial Page -----*/

.testimonial-section {
    text-align: center;
}

.testimonial {
    text-align: center;
    vertical-align: top;
}

.testimonial-heading {
    margin-top: 150px;
    padding-bottom: 50px;
    padding-left: 35px;
    letter-spacing: 1px;
    color: #4caf50;
}

.review-text {
    letter-spacing: 2px;
    text-align: center;
    padding-top: 25px;
}

.test-images {
    border-radius: 5px;
    margin-top: 25px;
    max-width: 250px;
}

.review-name-text {
    position: relative;
}

/*------ FAQ section-----*/

.card-header a {
    color: #4caf50;
}

.accordion {
    padding-bottom: 50px;
    padding-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
}

/*------- Form--------*/

.enquire-form {
    padding: 25px 25px 25px 25px;
}

.formsection {
    margin-bottom: 10px;
    margin-top: 10px;
}

.form-control {
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px solid #4caf50;
}

.message-text {
    color: rgba(0, 0, 0, 0.52);
    width: 100%;
}

label {
    width: 100%;
}

.form-row {
    margin-right: 0;
    margin-left: 0;
}

.form-group > .col {
    padding-right: 5px;
    padding-left: 5px;
}


.btn-holder {
    padding-bottom: 5px;
    padding-top: 5px;
}

/*------- review carousel -----*/

.carousel-style {
    text-align: center;
    padding: 25px 25px 25px 25px;
    margin-top: 25px;
    font-size: 14px;
}

.carousel-image {
    height: 100px;
    width: 200px;
    border-radius: .25rem;
}

.carousel-item {
    height: 350px;
}

.carousel-control-prev,
.carousel-control-next {
    margin-bottom: 180px;
    filter: invert(100%);
    z-index: 0;
}

.carousel-control-prev {
    padding-right: 20px;
}

.carousel-control-next {
    padding-left: 20px;
}

.review-name {
    padding-top: 25px;
}
/*------ Footer ------*/

.main-container {
    min-height: 100vh; /* will cover the 100% of viewport */
    overflow: hidden;
    display: block;
    position: relative;
    padding-bottom: 240px; /* height of your footer */
}

footer {
    position: absolute;
    background-color: #9a9a9a;
    bottom: 0;
    width: 100%;
    height: 240px;
}

.social {
    text-align: center;
    margin-top: 20px;
    width: 100%;
}

.list-inline a {
    color: #fff;
    position: relative;
    display: inline-block;
    font-size: 50px;
    text-align: center;
}

.list-inline a:hover {
    color: #4caf50;
    text-shadow: -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
}

.copyright {
    color: #fff;
    font-size: 8px;
    text-align: center;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
    width: 100%;
    bottom: 0px;
    position: absolute;
}

.location-text {
    color: #fff;
    font-size: 8px;
    text-align: center;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
    bottom: 40px;
    width: 100%;
    position: absolute;
}

.site-links {
    text-align: center;
    letter-spacing: 3px;
}

.site-links a {
    text-decoration: none;
    color: #fff;
    padding: 10px;
}

.site-links a:hover {
    color: #4caf50;
    text-shadow: -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
}

/*------ Meet the team ------*/

.who-are-we {
    text-align: center;
    padding-top: 10px;
}

.meet-the-team-text {
    letter-spacing: 1px;
    text-align: center;
    line-height: 30px;
    padding-top: 20px;
    color: #716666;
    font-weight: 500;
}

/*------- Building specs --------*/

.build-specs-text {
    letter-spacing: 1px;
    line-height: 30px;
    padding-top: 20px;
    color: #716666;
    font-weight: 500;
}

.build-specs-heading {
    display: none;
}

/* --- Sitemap ---*/

.site-map {
    text-align: center;
}

/*-- Guarantee ---*/

.guarantee-pic {
    height: auto;
    width: 200px;
    border-radius: 5px;
}

/*-- Sheds--*/

.new-image {
    height: auto;
    width: 100px;
    
}

.new {
    margin-right: 50px;
    display: inline;
}

.sheds-text {
    letter-spacing: 1px;
    line-height: 50px;
    padding-top: 20px;
    color: #716666;
    font-weight: 500;
    text-align: center;
    list-style-type: none;
    padding-inline-start: 0;
}

/*---- Media Queries ---*/

@media (min-width: 320px) {
    .social {
        margin-top: 5px;
    }
}

@media (min-width: 320px) {
    .site-links {
        letter-spacing: 0px;
    }
}

@media (min-width: 350px) {
    .test-images {
        width: auto;
    }
}

@media (min-width: 425px) {
    .homepage-tagline-heading {
        font-weight: 500;
        padding-top: 10px;
    }
}

@media (min-width: 425px) {
    .homepage-main-heading {
        font-weight: 500;
        font-size: 1.7rem;
    }
}

@media (min-width: 576px) {
    .build-specs-heading {
        display: unset;
    }
}

@media (min-width: 576px) {
    .meet-the-team-img-main {
        margin-top: 0;
    }
}

@media (min-width: 576px) {
    .meet-the-team-img {
        margin-top: 0;
    }
}

@media (min-width: 768px) {
    .nav-link {
        margin-left: 10px;
    }
}

@media (min-width: 768px) {
    .social {
        margin-top: 20px;
    }
}

@media (min-width: 768px) {
    .who-are-we {
        padding-top: 0;
    }
}

@media (min-width: 768px) {
    .carousel-style {
        font-size: 1rem;
    }
}

@media (min-width: 768px) {
    .enquire-form {
        padding-left: 0;
        padding-right: 0;
    }
}

@media (max-width: 767px) {
    .review-section {
        display: none!important;
    }
}

@media (min-width: 768px) {
    .gotopbtn {
        display: none;
    }
}

@media (min-width: 768px) {
    .copyright {
        font-size: 10px;
    }
}

@media (min-width: 768px) {
    .location-text {
        font-size: 10px;
    }
}

@media (min-width: 1440px) {
    .nav-link {
        margin-left: 20px;
    }
}


@media (min-width: 1440px) {
    .copyright {
        font-size: 12px;
    }
}

@media (min-width: 1440px) {
    .location-text {
        font-size: 12px;
        bottom: 30px;
    }
}

@media (min-width: 992px) {
    .why-us-text {
        margin-bottom: 25px;
    }
}

@media (min-width: 1024px) {
    .main-section-heading {
        font-size: 2rem;
    }
}


@media (max-width: 1024px) {
    .request-btn {
        display: none;
    }
}

@media (min-width: 1440px) {
    .site-links {
        font-size: 20px;
    }
}


@media (min-width: 2560px) {
    .enquire-section {
        height: 700px;
    }
}

@media (min-width: 2560px) {
    .contact-section {
        height: 75vh;
    }
}

@media (min-width: 2560px) {
    .copyright {
        font-size: 16px;
    }
}



/* --- Modal Images ---*/


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 3; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    max-height: 500px;
}


/* Add Animation - Zoom in the Modal */
.modal-content {
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}


@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* Style the Image Used to Trigger the Modal */
.myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.myImg:hover {opacity: 0.7;}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}


/* --- Reveal on Scroll ---*/

#reveal1 {
		opacity: 0;
		-webkit-transform: scale(0.9);
			 -moz-transform: scale(0.9);
				-ms-transform: scale(0.9);
				 -o-transform: scale(0.9);
						transform: scale(0.9);
		-webkit-transition: all 0.5s ease-in-out;
			 -moz-transition: all 0.5s ease-in-out;
				-ms-transition: all 0.5s ease-in-out;
				 -o-transition: all 0.5s ease-in-out;
						transition: all 0.5s ease-in-out;
	}
#reveal1.visible {
		opacity: 1;
		-webkit-transform: none;
			 -moz-transform: none;
				-ms-transform: none;
				 -o-transform: none;
						transform: none;
	}